<% layout('partials/navbar')%>

<div class="mt-6">
    <div class="columns mt-6">

        <form class="column is-half is-offset-one-quarter" action="/users/edit/<%=user._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
            
            <div class="field">
                <h1 class="title is-4">Edit Your Information</h1>
            </div>

            <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="text" name="username" placeholder="<%=user.username%>">
                  <span class="icon is-small is-left">
                    <i class="bi bi-person"></i>
                  </span>
                </p>
            </div>

            <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="file" name="image" accept="image/png, image/jpeg, image/jpg">
                  <span class="icon is-small is-left">
                    <i class="bi bi-images"></i>
                  </span>
                </p>
            </div>
                  
            <div class="field">
                <p class="control">
                        <button type="submit" class="button is-success">
                            Edit
                        </button>
                </p>
            </div>
            <a href="/">Back</a>
        </form>

        
    </div>
</div>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <title>Edit User</title>
</head>
<body>
    <h1>Edit your Information</h1>

    <form action="/users/edit/<%=user._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="<%=user.username%>">

        <label for="image">Profile Pic</label>
        <input type="file" name="image" id="image" accept="image/png, image/jpeg, image/jpg">

        <button type="submit">Edit</button>
    </form>

    <a href="/users/settings/<%=user._id%>">Back</a>
</body>
</html> -->