<% layout('partials/navbar')%>

<div class="columns">
    <aside class="ml-4 mt-6 menu column is-one-quarter">
        
        <ul class="menu-list">
            <p class="menu-label">
                PROFILE
            </p>
          <li><a class="mb-2">View profile</a></li>
          <li>
            <p class="menu-label">
                Edit your information
            </p>
            <!-- <a>Edit Your Information</a> -->
            <ul>
              <li><a>Change username</a></li>
              <li><a>Change password</a></li>
              <li><a>Add or change profile picture</a></li>
              <li><a>Add or change bio</a></li>
            </ul>
          </li>
          <p class="menu-label">
            POSTS
          </p>
          <li><a>View all posts</a></li>
          <li><a>View all replies</a></li>
          <li><a>Favorited posts</a></li>
        </ul>
      </aside>
      
      
    <div class="column is-one-quarter is-offset-one-fifth">
    
        <figure class="image is-96x96">
            <% if (user.image && user.imageURL) { %>
            <img class="is-rounded" src="<%=user.imageURL%>" alt="profile_img">
            <% } else { %>
            <img class="is-rounded" src="https://www.nicepng.com/png/detail/73-730154_open-default-profile-picture-png.png" alt="profile_img"> 
            <% } %>
        </figure>


        <p><%=user.username%></p>
    <p><%=user.email%></p>
    <p><%=user.createdOn%></p>
    <img src="<%=user.imageURL%>" alt="profile_img">

    <% if (session.loggedIn && (session.user_id == user._id)) { %>
    <a href="/users/edit/<%=user._id%>">View and Edit Profile</a>
    <a href="/users/password/<%=user._id%>">Change password</a>
    <a href="">Site Appearance</a>
    <form action="/users/delete/<%=user._id%>?_method=DELETE" method="POST">
        <button>Delete Account</button>
    </form>
    <% } %>
      </div>
    
</div>


