<% layout('partials/navbar')%>

<div class="columns">
    <%- include('../partials/aside') %>
      
      
    <div class="mt-6 column is-one-quarter is-offset-one-quarter">
    
        
        <figure class="block image is-96x96">
            <% if (user.image && user.imageURL) { %>
            <img class="is-rounded" src="<%=user.imageURL%>" alt="profile_img">
            <% } else { %>
            <img class="is-rounded" src="https://www.nicepng.com/png/detail/73-730154_open-default-profile-picture-png.png" alt="profile_img"> 
            <% } %>
        </figure>


        <div class="block">
            <h4 class="ml-1 title"><%=user.username%></h4>
            <h5 class="ml-2 title is-5"><%=user.bio%></h5>
            <p class="">Created on: <%=user.createdOn%></p>
            <p class="mr-5"><%=user.email%></p>
        </div>

    </div>
    
</div>


