<% layout('partials/navbar')%>

<div class="columns">
    <%- include('../partials/aside') %>
      
      
    <div class="mt-6 column is-one-quarter is-offset-one-quarter">
    
        
        <figure class="block image is-96x96">
            <% if (user.image && user.imageURL) { %>
            <img class="is-rounded" src="<%=user.imageURL%>" alt="profile_img">
            <% } else { %>
            <img class="is-rounded" src="https://www.nicepng.com/png/detail/73-730154_open-default-profile-picture-png.png" alt="profile_img"> 
            <% } %>
        </figure>

        <div class="block">
            <p class="ml-5"><%=user.username%></p>  
            <p class="mr-5"><%=user.email%></p>
            <p class=""><%=user.createdOn%></p>
            <p><%=user.bio%></p>
        </div>

    </div>
    
      </div>
    
</div>


