<% layout('partials/navbar')%>

<div class="columns">
    <%- include('../partials/aside') %>
      
      
    <div class="mt-6 column is-half">
    
        
        <figure class="block image is-96x96">
            <% if (user.image && user.imageURL) { %>
            <img class="is-rounded" src="<%=user.imageURL%>" alt="profile_img">
            <% } else { %>
            <img class="is-rounded" src="https://www.nicepng.com/png/detail/73-730154_open-default-profile-picture-png.png" alt="profile_img"> 
            <% } %>
        </figure>


        <div class="block">
            <div class="block">
                <h4 class="ml-1 title"><%=user.username%> <span class="is-size-6"> created on: <%=(user.createdOn.getMonth() + 1) + "/" + user.createdOn.getDate() + "/" + user.createdOn.getFullYear()%> </span></h4>
            </div>
            <div class="box">
                <h5 class="ml-2 title is-5"><%=user.bio%></h5>
            </div>

            <p class="mr-5">Email associated with this account: <%=user.email%></p>
        </div>

    </div>
    
</div>


