<% layout('partials/navbar')%>


<div class="block mt-6">
        <div class="block box">

            <div class="columns">
                <div class="column is-one-third">
                    <figure class="image">
                        <img src="<%=data.post.imageURL%>" alt="post_img">
                    </figure>
                </div>

                <div class="column">
                    <p><%= data.post.title %></p>
                    <p><%= data.post.body %></p>
                    <p><%= data.post.createdOn %></p>
                </div>
            </div>

            <a href="/users/<%=data.author._id%>">View profile</a>
            <% if (isLoggedIn) { %>
                <!-- <a href="/posts/reply/<%=data.post._id%>">Reply to this post</a> -->
                <button class="button" id="reply">
                    Reply
                </button>
                <div id="replydiv" style="display : none">
                    <div id="mydiv">
                    
                        <form class="column is-half is-offset-one-quarter" action="/posts/reply/<%=data.post._id%>" method="POST" enctype="multipart/form-data">
                    
                            <div class="field">
                                <p class="control">
                                    <textarea class="textarea" name="body" cols="30" rows="10" placeholder="Max 5000 characters" maxlength="5000" required></textarea>
                                </p>
                            </div>
                            
                            <div class="field">
                                <p class="control has-icons-left">
                                    <input class="input" type="file" name="image" id="image" accept="image/png, image/jpeg, image/jpg">
                                    <span class="icon is-small is-left">
                                        <i class="bi bi-images"></i>
                                    </span>
                                </p>
                            </div>
                        
                        
                            <div class="field">
                                <p class="control">
                                    <button type="submit" class="button is-success">
                                        Post
                                    </button>
                                </p>
                            </div>
                        
                        </form>
                    </div>
                </div>
                <% if (data.author._id == loggedInID) { %>
                    <a href="/posts/edit/<%=data.post._id%>">Edit</a>
                    <form action="/posts/delete/<%=data.post._id%>?_method=DELETE" method="POST">
                        <button class="button is-danger">Delete this post</button>
                    </form>
                <% } %>
            <% } %>
        </div>

        <% if (data.replies.length === 0) { %>
        <p>No replies to show.</p>
        <% } else { %>
            <% for (let reply of data.replies) { %>
                
            <div class="block box">
                <div class="columns">
                    <div class="column is-one-third">
                        <% if (reply.image && reply.imageURL) { %>
                            <figure class="image">
                                <img src="<%=reply.imageURL%>" alt="reply_img">
                            </figure>
                        <% } %>
                        <div class="column">
                            <% if (reply.replyingToUser) { %>
                                <p>@<%=reply.replyingToUsername%></p>
                            <% } %>
                            <p><%=reply.body%></p>
                        </div>
                        <% if (isLoggedIn) { %>
                            <button id="<%=reply._id%>" class="button" onclick="myFunction(this.id)">
                                Reply
                            </button>
                            <div id="<%=reply.id%>_div" style="display : none">

                                    <div id="mydiv">
                                    
                                        <form class="column is-half is-offset-one-quarter" action="/posts/reply/<%=data.post._id%>/<%=reply._id%>" method="POST" enctype="multipart/form-data">
                                    
                                            <div class="field">
                                                <p class="control">
                                                    <textarea class="textarea" name="body" cols="30" rows="10" placeholder="Max 5000 characters" maxlength="5000" required></textarea>
                                                </p>
                                            </div>
                                            
                                            <div class="field">
                                                <p class="control has-icons-left">
                                                    <input class="input" type="file" name="image" id="image" accept="image/png, image/jpeg, image/jpg">
                                                    <span class="icon is-small is-left">
                                                        <i class="bi bi-images"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        
                                        
                                            <div class="field">
                                                <p class="control">
                                                    <button type="submit" class="button is-success">
                                                        Post
                                                    </button>
                                                </p>
                                            </div>
                                        
                                        </form>
                                    </div>
                                </div>

                            <a href="/posts/reply/<%=data.post._id%>/<%=reply._id%>">Reply to this reply</a>
                            <% if (reply._id == loggedInID) { %>
                                <a href="/posts/reply/edit/<%=reply._id%>">Edit</a>
                                <form action="/posts/reply/delete/<%=reply._id%>?_method=DELETE" method="POST">
                                    <button class="button is-danger">Delete this reply</button>
                                </form>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
            <% } %>
        <% } %>
</div>

<script>
    const replyButton = document.getElementById('reply')
    const replyDiv = document.getElementById('replydiv')
    replyButton.addEventListener('click', () => {
        if (replyDiv.style.display === "none") {
            replyDiv.style.display = "inline"
            replyButton.innerHTML = "Close"
        } else {
            replyDiv.style.display = "none"
            replyButton.innerHTML = "Reply"
        }
    })


    function myFunction(id) {
        const div = document.getElementById(id + "_div")
        if (div.style.display == "none") {
            div.style.display = "inline"
        } else {
            div.style.display = "none"
        }
        
    }

    
</script>








